/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
background-image: url(../images/cover-image-light.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
margin: auto;
padding: 0;
font-family: var(--accent-font, sans-serif);
max-inline-size: 934px;
--accent-color: rgba(255, 194, 230, 1);
--text-bg-color:  rgba(255, 141, 203, 1);
--text-color: #353430;
--text-name-color: rgba(53, 52, 48, 1);
--visible-none: hidden ;
}



.title-decor {
  text-shadow: 4px 4px 0 var(--shadow-decor);
}



:root {
  --shadow-decor :#FF0070;

} 

.REC {
 visibility: var(--visible-none);
}