/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */



::before,
::after {
  box-sizing: border-box;
}

.page { 
  background-image: url(../images/cover-image-dark.png); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0;
  font-family: var(--accent-font),sans-serif;
  max-inline-size: 1024px;
}



.header {
  display: grid;
  position: relative;
  grid-template-areas:
  "a a f"
  "s s s"
  "e c c";
  justify-items: end;
  align-items: start;
  block-size: 100vh;
  min-block-size: 668px;
}



.title-decor {
  grid-area: s;
  font-family: var(--accent-font),sans-serif;
  color: var(--accent-color);
  font-weight: bold;
  text-align: start;
  line-height: 0.8;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem );
  text-shadow: 4px 4px 0 var(--shadow-decor);
}

.text-paragraph {
  grid-area: c;
  max-inline-size: 58.5%;
  word-spacing: 6px;
  font-size: 17px;
  font-weight: 900;
  background-color: var(--text-bg-color);
  margin-block-end: 1em;
  margin-right: 5px;
}



.REC {
  position: relative;
}

.REC::before {
  position: absolute;
  content: "REC";
  color: var(--text-bg-color);
  font-size: 17px;
  text-transform: uppercase;
  top: 23px;
  right: 34px;
}


.REC::after {
  position: absolute;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--text-bg-color);
  border-radius: 50%;
  top: 28px;
  right: 14px;
}

.header__theme-menu-list {
  display: flex;
  padding-block-start: 20px;
  padding-left: 51px;
  gap: 28px;
  list-style: none;
  justify-content: center;
}


 .header__theme-menu {
  inline-size: 100%;
  grid-area: a;
} 


.header-title_text {
  margin-block-start: 1em;
  min-inline-size: 100%;
  margin-block-end: 0;
}

.header__theme-menu-button {
  border: transparent;
  background-color: transparent;
  color: var(--text-name-color);
  font-size: 17px;
}



.title-content {
  color: var(--text-name-color);
  font-weight: bold;
  font-size: 18px;
  padding-left: 18px;
  margin-block-start: 0;
}


.text-content-title {
  color: var(--bg-color);
  background-color: var(--text-bg-color);
  font-size: 18px;
  grid-column-start: 2;
  letter-spacing: 0.5px;
  margin-block-start: 0;
  font-weight: 700;
}

.text-content {
  color: var(--text-color);
  grid-column-start: 2;
  font-size: 18px;
  line-height: 23.4px;
  word-spacing: -2px;
  padding-left: 3px;
}

.multitasks {
  display: grid;
  grid-template-columns: 35% 64.5%;
  grid-template-rows: 6.5% 47% 6.9%;
  padding-block-end: 6em;
  padding-block-start: 3.9em;
  align-items: start;
}



.section-header {
  justify-items: end;
}


.concentration {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 6.5% 1%;
  grid-gap: 30px;
  align-items: start;
  justify-content: center;
}


.concentration-title {
  padding-left: 0;
  font-weight: bold;
  word-spacing: -2px;
}


.text-content-concentration {
  color: var(--bg-color);
  background-color: var(--text-bg-color);
  font-size: 18px;
  grid-row-start: 2;
  font-weight: 700;
}



.text-concentration {
  color: var(--text-color);
  font-size: 17px;
  line-height: 23.4px;
  word-spacing: 2px;
  letter-spacing: 0px;
  grid-row-start: 3;
}


.advices {
  padding-block-start: 3.1em;
  display: grid;
  grid-template-columns: 35% 64.5%;
  grid-template-rows: 4.5% 4% 25.5% 3.5% 15% 3.5% 20.5% 3.5% 15% 4%;
  padding-block-end: 11.75em;
  align-items: start;
}



.text-advices {
  background-color: var(--text-bg-color);
  font-size: 18px;
  grid-column-start: 2;
}


.title-advices {
  font-size: 18px;
  color: var(--text-name-color);
  word-spacing: -1px;
  padding-left: 18px;
  font-weight: bold;
}


.text-advices-title {
  background-color: var(--text-bg-color);
  font-size: 18px;
  font-weight: 900;
  color: var(--bg-color);
}


.gallerey {
  display: grid;
  grid-template-areas:
      "s s s"
      "a a b"
      "c d b"
      "c e e";
  gap: 15px;
  align-items: start;
  justify-content: center;
  padding-block-end: 53px;
  padding-left: 22px;
}


.sunset {
  grid-area: a;
}


.ice-cream {
  grid-area: b;
  height: 100%;
}


.tape {
  grid-area: c;
  block-size: 100%;
}



.books {
  grid-area: d;
}




.street {
  grid-area: e;
}


.gallerey-items {
    max-height: 100%;
    justify-items: start;
    grid-area: s;
    font-size: 18px;
    background-color: var(--text-bg-color);
    color: var(--bg-color);
    word-spacing: 8px;
    font-weight: bold;
}


.content__images-item {
  object-fit: cover;
  max-width: 100%;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}


.header__theme-menu-button:hover {
  outline:  1px solid var(--text-name-color)
}


.header__theme-menu-button:focus {
outline: none;
border-block-end: 1px solid var(--text-name-color);
}


.header__theme-menu-button:default {
  border-radius: 1px solid var(--text-name-color);
}


.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--text-bg-color);
}


.link:hover {
border-block-end: 1px solid var(--text-color);
}


.link:focus {
  outline:  1px solid var(--text-color);
}




.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 20px;
  block-size: 20px;
  inset: 95% 2%;
  border-left: 1px solid var(--text-name-color);
  border-bottom: 1px solid var(--text-name-color);
}



.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 20px;
  block-size: 20px;
  inset: 2.5% 97.5%;
  border-right: 1px solid var(--text-name-color);
  border-top: 1px solid var(--text-name-color);
}


@media (max-width:768px ) {
   .header__theme-menu {
    grid-area: f;
   }
   .REC {
    grid-area: f;
   }
   .header__theme-menu-list {
    display: flex;
    margin-block-start: 10.5em;
    gap: 15px;
    list-style: none;
    flex-direction: column;
    padding-right: 15px;
}
.REC::before {
  top: 23px;
  right: 32px;
}

.REC::after {
  top: 28px;
  right: 15px;
}

.text-paragraph {
  grid-area: c;
  max-inline-size: 48%;
  word-spacing: -2px;
  font-size: 18px;
  font-weight: 900;
  background-color: var(--text-bg-color);
  margin-right: 5px;
}

.header-title_text {
  margin-block-start: 0;

}


.multitasks {
  padding-block-start: 3.75em;
  grid-template-rows: 5% 46% 5%;
  grid-template-columns: 31% 63%;
  justify-content: space-between;
  padding-block-end: 4.5em;
}

.text-content {
  padding-left: 1px;
  word-spacing: -1px;
}

.decorated-zone::after {
  inset: 2% 96.5%;
}

.decorated-zone::before {
  inset: 96% 2.5%;
}

.concentration-title {
  max-inline-size: 20%
}

.concentration {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 10% 2% 20% 2% 20.5% 2%;
  grid-template-columns: 1fr;
  padding-left: 20px;
}

.text-content-concentration {
  grid-row-start: auto;
}

.text-concentration {
  grid-row-start: auto;
  word-spacing: -1px;
  letter-spacing: 1px;

}

.advices {
  padding-block-start: 3.25em;
  grid-template-columns: 34% 63%;
  grid-template-rows: 4% 2.5% 25% 2.5% 15.5% 2.5% 23% 2.5% 15.5% 2.5%;
  padding-block-end: 10.5em;
  justify-content: space-between;
}

.gallerey {
  padding-left: 20px;
}

.focus {
  padding-block-end: 0.5em;
}
}



@media (max-width:375px ) {
  .text-paragraph {
    word-spacing: -2px;
    max-inline-size: 100%;
    margin-block-end: 5px;
  }
  .REC::before {
    top: 12px;
    right: 39px;
  }
.REC::after {
  top: 18px;
  right: 19px;
}

.decorated-zone::after {
 inset:  1.5% 90.5%;
}

.header__theme-menu-list {
  margin-block-start: 3.4em;
  padding-right: 20px;
  gap: 13px;
}

.header {
  grid-template-columns: 3%;
  grid-template-areas:
        "a a f"
        "g s s"
        "e c c";
}
.multitasks {
  padding-left: 10px;
  padding-block-start: 2.5em;
  align-items: start;
  grid-template-columns: auto;
  grid-template-rows: 7.5% 3.5% 47% 4%;
}

.text-content-title {
  grid-column-start: auto;
}

.text-content {
  grid-column-start: auto;
  word-spacing: 1px;
}



.concentration {
  padding-block-start: 2.5em;
  padding-left: 10px;
  grid-template-rows: 4.5% 1.5% 25% 1.5% 25% 1.5%;
  grid-gap: 17px;
}

.text-concentration {
  line-height: 23.4px;
  word-spacing: 1px;
}

.title-content {
  word-spacing: 1px;
  padding-left: 0 ;
}

.concentration-title {
  max-inline-size: 80%;
  word-spacing: 4px;
}

.advices {
  padding-block-end: 3.1em;
  padding-left: 10px;
  padding-block-start: 2.5em;
  grid-template-columns: 1fr;
  gap: 15px;
  grid-template-rows: 4.2% 3% 1% 21.8% 1.5% 12% 1.5% 20.5% 1% 12.5% 1%;
}

.title-advices {
  padding-block-end: 6px;
  padding-left: 0;
  margin-left: 0;
}

.text-advices {
  grid-column-start: auto;
  word-spacing: 0.6rem;

}

.gallerey {
  grid-template-areas: 
  "s s s"
  "a a a"
  "b b b"
  "c c c"
  "d d d"
  "e e e"
  ;
  gap: 10px;
  gap: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-block-end: 36px;
}

.gallerey-items {
  margin-block-end: 0;
}


.ice-cream {
  max-inline-size: 100%;
}

.tape {
  max-inline-size: 100%;
}

.books {
  max-block-size: 100%;
}


}