/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: sans-serif;
  --accent-font: 'IBM Plex mono';
  --accent-color: #DB00FF;
  --text-color:  #F1B2CE;
  --bg-color: #000028;
  --text-bg-color: #FF0070;
  --a-border: #F1B2CE 0.5;
  --text-name-color:#FF0070;
}